@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
body{
    background-color: #353535;
    color: #ffffff;
    font-size: 24px;
    font-family: Sriracha, sans-serif;
}

h1{
    background-color: #3c6e71;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: 5px solid #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 10px #d9d9d9;
}

h1:hover{
    box-shadow: 2.5px 5px 5px #fdfcdc, 5px 10px 10px #fed9b7;
}

div{
    background-color: #ffffff;
    color: black;
    margin: 45px 35px;
    padding: 5px;
    font-size: 20px;
    font-family: Abril Fatface, sans-serif;
    position: relative;
}

li{
    padding: 5px;
}

span{
    font-weight: bold;
}

#image1{
    width: 500px;
    height: 450px;
    margin: auto;

}

#image2{
    width: 400px;
    height: 250px;
    margin: auto;
    border-radius: 20px;
    position: absolute;
    right:25px;
    top: 1350px
}

a{
    color:#3c6e71;
    background-color: #3c6e7118;
    text-decoration: none;
}

a:hover{
    color: #0081a7;
    background-color: #a9d6e588;
    text-decoration: underline #00afb9;
}