@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');
/* Common Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
  }

  html { 
    background: url(bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  html, body {
    height: 100%;
  }
  
/* End of Common Style*/
.container{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: stretch;
    margin: 3rem;
}

header{
    font-size: 3rem;
    font-weight: 900;
    font-family: 'Rubik',sans-serif;
    text-align:center;
}

.figure-1{
    margin: 0 2rem;
}

.section-1{
    background-color: rgba(245, 245, 220, 0.486);
    margin: 0 3rem;
    font-size: 1.25rem;
    font-family: 'Fraunces', sans-serif;
    padding: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(228, 189, 16, 0.438);
}

img {
    width: 100%;
    height: auto;
    border-radius: 3rem;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(231, 219, 162, 0.438);
}

p{
    margin: 0.5rem;
}

.section-2{
    background-color: #9dedf180;
    margin: 0 20rem;
    font-size: 1.25rem;
    font-family: 'Fraunces', sans-serif;
    padding: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.6rem rgba(16, 221, 228, 0.438);
}

span{
    color: #FF9999;
}

h3{
    text-align: center;
    color: #4ab9e6;
}

footer{
    text-align: center;
    margin-top: 2rem;
}